<div class="dashboard">

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_acryqbdv.json"                background="transparent"  speed="1"  style="height: 100px;"  loop  autoplay></lottie-player>

    <h1 class="mt-4" style="text-align: center;">Dashboard</h1>

    <p class="lead mb-3" style="text-align: center; font-size: 50px;">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_cUG5w8.json"  background="transparent"  speed="1"  style="height: 100px;"  loop  autoplay></lottie-player>
        <%= name %>
    </p>

    <a href="/auth/logout" class="button-49" role="button" style="text-align: center; text-decoration: none;">
        Logout
    </a>
    
</div>
