<div class="row mt-5">

    <div class="col-md-6 m-auto">

        <div class="card card-body text-center">

            <h1>
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_kw5jwkm0.json"  background="transparent"  speed="1"  style="height: 100px;"  loop  autoplay></lottie-player>
            </h1>

            <p>Login to an existing account or Register</p>

            <a href="/auth/login" class="login-btn">
                Login
            </a>

            <a href="/auth/register" class="reg-btn">
                Register
            </a>

        </div>

    </div>

</div>